* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%) scale(0.8);
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(-100%) scale(0.8);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(100%) scale(1.2);
  }
  50% {
    transform: translateX(0) scale(1.2);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

.slide-out {
  animation-name: slideOut, zoomOut;
}

.slide-in {
  animation-name: slideIn, zoomIn;
}

#root {
  display: flex;
  width: 100%;
  height: 100vh;
  opacity: 1;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s ease;
  font-style: italic;
  letter-spacing: 8px;
}

h1 {
  font-size: 30px;
  color: white;
  letter-spacing: 4px;
  font-style: italic;
}

.scroll {
  transition: all 2s ease;
  background-color: rgba(146, 47, 182, 1);
  color: rgb(255, 255, 255);
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}

header.scroll h1 {
  background: linear-gradient(
    111.4deg,
    rgb(255, 255, 255) 6.5%,
    rgb(255, 255, 255) 93.2%
  );
  -webkit-background-clip: text; /* For Safari */
  -webkit-text-fill-color: transparent; /* For Safari */
  background-clip: text;
 
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  position: fixed;
  top: 50%;
  left: 5%;
  transform: translate(-5%, -50%);
  height: 400px;
  width: 200px;
  border-radius: 30px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.2);
}

.navEl {
  border: solid 1px rgba(255, 255, 255, 0.4);
  height: 20%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 300;
  cursor: pointer;
}

.navEl:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: rgb(255, 255, 255);
}

#upper-item {
  border-radius: 30px 30px 0 0;
}

#lower-item {
  border-radius: 0 0 30px 30px;
}

.main-text-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  height: 400px;
  width: 500px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 30px;
  padding: 30px;
  gap: 30px;
  transition: all 1s ease;
}



.main-text {
  font-size: 20px;
}

.main-text-header {
  font-size: 32px;
  font-style:italic;
  letter-spacing: 2px;
}

.education-page {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  border: solid 1px rgba(255, 255, 255, 0.5);
  height: 500px;
  width: 800px;
  border-radius: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 28px;
  gap: 20px;
}

.education-title {
  font-size: 30px;
  font-style: italic;
}

.education-text {
  font-size: 20px;
}

.portfolio-page {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 400px;
  border-radius: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
  padding: 20px;
  flex-direction: column;
}


.portfolio-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  padding: 20px;

}

.experience-page {
  display: flex;
  flex-direction: column;
  height: 170vh;
  width: 100%;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
}

.contact-page {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px rgba(255, 255, 255, 0.5);
  height: 300px;
  width: 300px;
  border-radius: 30px;
  gap: 25px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  padding: 20px;

}

.sap-container, .deloitte-container, .codecool-container {
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  padding: 20px;
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.experience-text {
  font-size: 30px;
  font-style: italic;
}

.experience-date {
  font-size: 25px;
}

.experience-title {
  font-size: 20px;
}

.experience-company {
  font-size: 20px;
}

.linkedin-container, .github-container, .phone-container, .email-container {
  border: solid 1px rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 30px;
}

.phone-icon, .email-icon, .github-icon, .linkedin-icon {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.right-nav {
  position: fixed;
  right: 2%;
  top: 50%;
  transform: translate(-2%, -50%);
  display: flex;
  flex-direction: column;
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.2); 

}

.right-nav-el {
  height: 50px;
  width: 50px;
}

.right-nav-el-container {
  border: none;
  width: 100%;
  border-radius: 18px;
}

.right-nav-el-container:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
}

#right-nav-el2-container {
  border-top: solid 1px rgba(255, 255, 255, 0.5);
  width: 100%;
}

#mobile-menu {
  height: 350px;
  border-radius: 10px;
  width: 200px;
  position: fixed;
  right: 0;
  background-color: rgba(255, 255, 255, 1);
  color: rgb(0, 0, 0);
  margin-top: 50px;
  z-index: 1;
}

.mobile-menu-el {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
  border: solid 1px rgb(255, 255, 255);
}

.mobile-menu-el:hover {
  cursor: pointer;
  background-color: rgba(255, 5, 5, 0.41);
}

#upper-item-mobile {
  border-radius: 10px 10px 0 0;
}

#lower-item-mobile {
  border-radius: 0 0 10px 10px;
}

@media only screen and (max-width: 600px) {

  .main-text-container {
    width: 320px;
    height: auto;
  }

  .education-page {
    width: 320px;
    height: auto;
    margin-top: 600px;
  }

  .experience-page {
    height: 230vh;
  }
  

  .sap-container {
    width: 320px;
    height: auto;
    margin-top: 370px;
  }

  .deloitte-container {
    width: 320px;
    height: auto;
  }

  .codecool-container {
    width: 320px;
    height: auto;
  }

}




/*add media queery for mobile

@media only screen and (max-width: 600px) {

  .main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-text-container {
    width: 300px;
    height: auto;
  }

  .nav-bar {
    position: unset;
    width: 100%;
    margin-left: 10px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    border: solid 1px rgba(255, 255, 255, 0.5);
  }

  .navEl {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .education-page {
    width: 300px;
    height: 300px;
  }

  .portfolio-page {
    width: 300px;
    height: 300px;
  }

  .experience-page {
    height: 200vh;
  }

  .contact-page {
    width: 300px;
    height: 300px;
  }

  .sap-container, .deloitte-container, .codecool-container {
    width: 300px;
  }
  fwfw
} */